.warning-message-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 30%;

  & .warning-text {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    cursor: default;
  }
}

.modal-content {
  background-color: var(--buttonColor);
  border-radius: 5px;
  border: solid #fff 2px;
  padding: 0 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: [first] 3rem [line2] fit-content [line3] 3rem [end];
}

.close-button {
  grid-column-start: 3;
  font-size: large;
  cursor: pointer;
}

.work-details-container {
  display: flex;
  flex-direction: column;
  background-color: var(--componentBackground);
  padding: 1rem;

  & .work-details-header {
    font-size: 1.5rem;
  }

  & .work-details-content {
    font-size: 1.1rem;
    color: #000;
  }
}
