.user-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.weekday-input, .precip-input, .wind-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submit-button-div {
    display: flex;
    justify-content: center;
}

.submit-button {
    background-color: #677680;
    border: none;
    padding: 1rem;
}

.submit-button:hover {
    background-color: #677680;
    color: #fff;
    cursor: pointer;
}
