.button-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: var(--buttonColor);
  border-color: #fff;
}

.dark-form-layout {
  position: relative;
  border: solid 0.125rem #fff;
  border-radius: 0.5rem;
  background-color: var(--componentBackground);
  padding: 1rem;
  width: 100%;
}

.light-form-layout {
  position: relative;
  border: solid 0.125rem var(--buttonColor);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dark-form-label {
  border-bottom: solid 0.0625rem #000;
}
.light-form-label {
  border-bottom: solid 0.0625rem #000;
}

.dark-checkbox-label {
  color: #000;
}

.light-checkbox-label {
  color: #fff;
}

.dark-form-header {
  color: #fff;
  font-size: 1rem;
}

.light-form-header {
  color: #000;
  font-size: 1rem;
}

.light-dropdown a {
  color: #000;
}

.auth-valid {
  display: flex;
  justify-content: center;
  color: green;
}

.auth-failed {
  display: flex;
  justify-content: center;
  color: rgb(226, 59, 59);
}

.delete-button-container:hover {
  cursor: pointer;
}

.delete-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.dark-switch,
.light-switch {
  width: 1rem;
}

.form-button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
