.ant-table-tbody,
.ant-table-thead > tr > th {
  background-color: var(--componentBackground);
  color: #fff;
}

.table {
  position: relative;
  border: solid 0.125rem #fff;
  border-radius: 0.5rem;
  background-color: var(--componentBackground);
  padding: 1rem;
}

.ant-table-thead {
  font-size: 0.95rem;
}
