.chart {
  position: relative;
  border: solid 0.125rem #fff;
  border-radius: 0.5rem;
  background-color: var(--componentBackground);
  padding: 1rem;
}

.chart-title {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}
