.layout {
    display: flex;
    flex: 1; 
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.layout-tables {
    display: flex;
    flex: 1;
    flex-Direction: row;
    justify-content: space-between;
    gap: 20px
}