.light-page-layout {
  position: relative;
  border: solid 0.125rem var(--darkBackground);
  border-radius: 0.5rem;
  padding: 1rem;
  min-width: 25rem;
}

.dark-page-layout {
  position: relative;
  border: solid 0.125rem #fff;
  border-radius: 0.5rem;
  background-color: var(--componentBackground);
  padding: 1rem;
  min-width: 25rem;
}

.light-page-header {
  color: #000;
  font-size: 1.25rem;
}

.dark-page-header {
  color: #fff;
  font-size: 1.25rem;
}

.light-page-label {
  border-bottom: solid 0.0625rem #000;
}

.dark-page-label {
  border-bottom: solid 0.0625rem #fff;
}

.location-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}

.dark-locations-table,
.dark-table {
  background-color: var(--componentBackground);

  & a {
    color: #fff;
  }

  & .ant-table-tbody,
  .ant-table-thead > tr > th {
    background-color: var(--componentBackground);
    color: #fff;
  }
}

.light-locations-table,
.light-table {
  & a {
    color: #000;
  }

  & .ant-table-tbody,
  .ant-table-thead > tr > th {
    background-color: #fff;
    color: #000;
  }
}

.page-navbar {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.dark-navbar-item {
  cursor: pointer;
  color: #fff;
}

.light-navbar-item {
  cursor: pointer;
  color: #000;
}

.account-setting {
  display: flex;
  gap: 1rem;
}

.light-dropdown a {
  color: #000;
}

.sub-header {
  font-size: 1.05rem;
  border-bottom: 1px solid black;
}
