.link {
  color: #fff;
  text-decoration: none;
}

.home-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.welcome-message-title {
  display: flex;
  justify-content: center;
  font-size: larger;
}

.welcome-message {
  display: flex;
  justify-content: center;
  font-size: large;
}

.home-item {
  background-color: var(--componentBackground);
  padding: 1rem;
  border: 2px solid #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  font-size: large;
}

.home-item:hover {
  background-color: var(--buttonColor);
}
