.header {
  display: grid;
  grid-template-rows: [first] fit-content [last] 2rem;
}

.title {
  padding-top: 1rem;
  margin: 0 1rem;
  font-size: 2.25rem;
  display: flex;
  justify-content: flex-start;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
  margin: 1rem;
  border-bottom: solid 2px #fff;

  & .navbar-item {
    cursor: pointer;
    text-decoration: none;
  }
}
.navbar-item:visited {
  color: #fff;
}
