.ant-dropdown-trigger {
  color: unset;
}

a {
  color: unset;
}

.header {
  display: grid;
  grid-template-rows: [first] fit-content [last] 2rem;
}

.title-container {
  font-family: fantasy;
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;

  & .logo {
    width: 3rem;
    height: 3rem;
  }
}

.dark-menu-icon {
  color: #fff;
}

.light-menu-icon {
  color: #000;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.dark-navbar-item {
  color: #fff;
}
.light-navbar-item {
  color: #000;
}
