.header {
  display: grid;
  grid-template-rows: [first] fit-content [last] 2rem;
}

.title-container {
  display: grid;
  grid-template-columns: [first] 80% [last] 1fr;
  padding-top: 1rem;
  margin: 0 1rem;
  font-size: 2rem;

  & .title {
    display: flex;
    width: fit-content;
    align-items: center;
  }

  & .logo-container {
    display: flex;
    justify-content: flex-end;
  }
  & .logo {
    width: 5rem;
  }
}

.ant-menu-overflow {
  background-color: var(--backgroundColor);
}

.ant-menu-horizontal > .ant-menu-item a {
  color: #fff;
}

.logged-in {
  color: green;
  font-weight: bolder;
}

.not-logged-in {
  color: rgb(226, 59, 59);
  font-weight: bolder;
}
