.ant-menu-overflow {
  background-color: unset;
}

.ant-menu-horizontal > .ant-menu-item a {
  color: unset;
}

.header {
  display: grid;
  grid-template-rows: [first] fit-content [last] 2rem;
}

.title-container {
  display: grid;
  grid-template-columns: [first] 80% [last] 1fr;
  padding: 1rem 0;
  margin: 0 1rem;
  font-size: 2rem;

  & .title {
    display: flex;
    width: fit-content;
    align-items: center;
  }

  & .logo-container {
    display: flex;
    justify-content: flex-end;
  }
  & .logo {
    width: 5rem;
  }
}

.dark-menu-container {
  color: #fff;
}

.light-menu-container {
  color: #000;
}

.top-navbar-menu {
  border-top: 1px solid #f0f0f0;
  border-bottom: none;
}

.logged-in {
  color: green;
  font-weight: bolder;
}
