.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.dark-dashboard-item {
  background-color: var(--darkComponentBackground);
  border-color: var(--darkBorder);
  border-radius: 0.5rem;
  height: 5rem;
  font-size: 1.05rem;
}

.dark-dashboard-item:hover {
  background-color: var(--buttonColor);
}

.light-dashboard-item {
  color: black;
  background-color: var(--lightComponentBackground);
  border-color: var(--lightBorder);
  border-radius: 0.5rem;
  height: 5rem;
  font-size: 1.05rem;
}

.light-dashboard-item:hover {
  background-color: var(--lightScrollbarThumb);
  color: black;
}
