:root {
  --darkBackground: #1a1d23;
  --darkComponentBackground: #373e43;
  --darkBorder: #246794;
  --darkHeaderText: #fff;

  --lightBorder: #246794;
  --lightBackground: #d4e7ed;
  --lightComponentBackground: #b7d7e1;
  --lightHeaderText: #000;

  --buttonColor: #1a4c6d;
  --buttonHover: #0f2f44;
  --scrollbarTrack: #47535b;
  --scrollbarThumb: #2b3841;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
